.episodes{
    &__wrapper{
        @include content-wrapper;
    }
    &__heading{
        position: relative;
        margin-bottom: 40px;
        @include pc{
            height: 350px;
        }
        img{
            position: absolute;
            right: 0;
            bottom: 0;
            @include spandtb{
                display: none;
            }
        }
    }
    &__categories{
        display: flex;
        justify-content: space-between;
        @include sp{
            flex-wrap: wrap;
        }
    }
    &__category{
        width: 20%;
        height: 122px;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: contain; 
        text-align: center;
        position: relative;
        @include sp{
            height: 105px;
            width: 48%;
        }
        &:first-of-type{
            @include pcandtb{
            background-image: url('../../assets/images/episodes/category-red--pc.jpg');
            }
            @include sp{
                background-image: url('../../assets/images/episodes/category-red--sp.jpg');
            }
        }
        &:nth-of-type(2){
            @include pcandtb{
            background-image: url('../../assets/images/episodes/category-orange--pc.jpg');
            }
            @include sp{
                background-image: url('../../assets/images/episodes/category-orange--sp.jpg');
            }
        }
        &:nth-of-type(3){
            @include pcandtb{
            background-image: url('../../assets/images/episodes/category-green--pc.jpg');
            }
            @include sp{
                background-image: url('../../assets/images/episodes/category-green--sp.jpg');
            }
        }
        &:nth-of-type(4){
            @include pcandtb{
            background-image: url('../../assets/images/episodes/category-purple--pc.jpg');
            }
            @include sp{
                background-image: url('../../assets/images/episodes/category-purple--sp.jpg');
            }
        }
        p{
            font-family: $font-heading;
            color: #ffffff;
            position: absolute;
            margin-top: 0;
            top: 50%;
            left:50%;
            transform: translate(-50%,-50%);
            width: 100%;
        }
    }
    &__sort {
        height: 2rem;
        @include spandtb{
            display: none;
        }
        // &:hover{
        //     li{
        //     p{
        //         &:after{
        //             transform: rotate(270deg);
        //             transition: all .5s;             
        //         }
        //     }
        // }
        // }
    }
    &__sort li {
        list-style: none;
        position: relative;
    }
    &__sort li a {
        display: block;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        text-decoration: none;
        width: 100%;
    }
    &__sort li p {
            padding-right: 15px;
            position: relative;
            font-size: 17px;
            margin: 0;
            &:before{
                content: '';
                display: inline-block;
                width: 24px;
                height: 17px;
                position: absolute;
                left: -30px;
                top: 47%;
                transform:translate(0,-50%);
                background-image: url(../../assets/images/episodes/sort.png);
                background-size: contain;
                background-repeat: no-repeat;
                vertical-align: middle;
            }
            &:after{
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                position: absolute;
                right: -15px;
                top: 65%;
                transform:translate(0,-50%);
                background-image: url(../../assets/images/episodes/down-arrow.png);
                background-size: contain;
                background-repeat: no-repeat;
                vertical-align: middle;
            }
    }
    &__sort li ul{
        border-radius: 5px;
        background: #ffffff;
        padding-left: 0;
        box-shadow: $shadow;
        position: absolute;
        right: -15px;
        overflow: hidden;
    }
    &__sort li li {
        height: 0;
    }
    &__sort li li a {
        &:hover{
            color: $purple;
        }
    }
    &__sort li:hover > ul {
        animation: fadeIn .5s ease 0s 1 normal;
        -webkit-animation: fadeIn .5s ease 0s 1 normal;
    }
    &__sort li:hover > ul > li {
        height: 2.5rem;
        padding: 5px 50px 5px 15px;
    }
    @keyframes fadeIn {
        0% {opacity: 0}
        100% {opacity: 1}
    }
    
    @-webkit-keyframes fadeIn {
        0% {opacity: 0}
        100% {opacity: 1}
    }
    &__info{
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        padding-right: 20px;
    }
    &__post{
        border-radius: 15px;
        box-shadow: $shadow;
        display: flex;
        @include sp{
            flex-direction: column;
        }
        &Img{
            img{
                width: 100%;
                border-radius: 15px;
            }
        }
        &Title{
            h3{
                color: $text-color;
                line-height: 1;
            }
        }
        &Content{
            padding: 10px;
        }
    }
}

.episode{
    &__heading{
        margin-top: 30px;
        font-size: 17px;
    }
    &__question{
        @include content-wrapper;
        h3{
            @include pc{
            font-size: 30px;
            margin-bottom: 0;
            margin-top: 60px;
        }
        }
        ol{
            margin-left: 0;
            padding-left: 20px;
            @include spandtb{
            padding-left: 0;    
            list-style-type: none;
        }
        li{
            margin-top: 10px;
        }
    }
    .question{
        @include spandtb{
             display: none;
        }
    }
    .colon{
        display: none;
        @include spandtb{
            display: inline;
        }
    }
}
&__btn{
    display: flex;
    justify-content: space-between;
    @include spandtb{
        flex-direction: column;
    }
    h5{
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 10px;
        @include spandtb{
        margin: 0;
        font-size: 15px;
    }
    }
    &App{
        @include spandtb{
                display: flex;
                border-radius: 10px;
                padding: 5px 15px;
                background-color: #ffffff;
                box-shadow: $shadow;
                align-items: center;
                justify-content: space-between;
        }
        div{
            display: flex;
            align-items: center;
    }
        a{
            display: flex;
            align-items: center;
            @include spandtb{
                margin: 0 10px;
            }
            @include pc{
                border-radius: 10px;
                padding: 5px 15px;
                background-color: #ffffff;
                box-shadow: $shadow;
                margin: 0 10px;
                height: 60px;
            }
            img{
                width: 35px;
                height: 35px;
            }
            p{
                margin-left: 10px;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}
&__play{
    padding: 13px 15px;
    background-color: #ffffff;
    box-shadow: $shadow;
    margin: 0 10px 20px;
    align-items: center;
    border-radius: 10px;
    @include pc{
        width: 50vw;
        height: 60px;
    }
    button{
        background: #ffffff;
        border: none;
        padding: 0;
        margin: 0 8px;
    }
    &Skip{
    img{
        width: 30px;
    }
}
}
}