.episodes{
    &__wrapper{
        @include content-wrapper;
    }
    &__heading{
        position: relative;
        margin-bottom: 40px;
        @include pc{
            height: 350px;
        }
        img{
            position: absolute;
            right: 0;
            bottom: 0;
            @include spandtb{
                display: none;
            }
        }
    }
    &__categories{
        display: flex;
        justify-content: space-between;
        @include sp{
            flex-wrap: wrap;
        }
    }
    &__category{
        width: 20%;
        height: 122px;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: contain; 
        text-align: center;
        position: relative;
        @include sp{
            height: 105px;
            width: 48%;
        }
        &:first-of-type{
            @include pcandtb{
            background-image: url('../../assets/images/episodes/category-red--pc.jpg');
            }
            @include sp{
                background-image: url('../../assets/images/episodes/category-red--sp.jpg');
            }
        }
        &:nth-of-type(2){
            @include pcandtb{
            background-image: url('../../assets/images/episodes/category-orange--pc.jpg');
            }
            @include sp{
                background-image: url('../../assets/images/episodes/category-orange--sp.jpg');
            }
        }
        &:nth-of-type(3){
            @include pcandtb{
            background-image: url('../../assets/images/episodes/category-green--pc.jpg');
            }
            @include sp{
                background-image: url('../../assets/images/episodes/category-green--sp.jpg');
            }
        }
        &:nth-of-type(4){
            @include pcandtb{
            background-image: url('../../assets/images/episodes/category-purple--pc.jpg');
            }
            @include sp{
                background-image: url('../../assets/images/episodes/category-purple--sp.jpg');
            }
        }
        p{
            font-family: $font-heading;
            color: #ffffff;
            position: absolute;
            margin-top: 0;
            top: 50%;
            left:50%;
            transform: translate(-50%,-50%);
            width: 100%;
        }
    }
    &__lists{

    }
    &__post{
        border-radius: 15px;
        box-shadow: $shadow;
        display: flex;
        @include sp{
            flex-direction: column;
        }
        &Img{
            img{
                width: 100%;
                border-radius: 15px;
            }
        }
        &Title{
            h3{
                color: $text-color;
                line-height: 1;
            }
        }
        &Content{
            padding: 10px;
        }
    }
}

.episode{
    &__heading{
        margin-top: 30px;
        font-size: 17px;
    }
    &__question{
        @include content-wrapper;
        h3{
            @include pc{
            font-size: 30px;
            margin-bottom: 0;
            margin-top: 60px;
        }
        }
        ol{
            margin-left: 0;
            padding-left: 20px;
            @include spandtb{
            padding-left: 0;    
            list-style-type: none;
        }
        li{
            margin-top: 10px;
        }
    }
    .question{
        @include spandtb{
             display: none;
        }
    }
    .colon{
        display: none;
        @include spandtb{
            display: inline;
        }
    }
}
&__btn{
    display: flex;
    justify-content: space-between;
    @include spandtb{
        flex-direction: column;
    }
    h5{
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 10px;
        @include spandtb{
        margin: 0;
    }
    }
    &App{
        @include spandtb{
                display: flex;
                border-radius: 10px;
                padding: 5px 15px;
                background-color: #ffffff;
                box-shadow: $shadow;
                margin: 0 10px;
                align-items: center;
        }
        div{
            display: flex;
            align-items: center;
    }
        a{
            display: flex;
            align-items: center;
            @include pc{
                border-radius: 10px;
                padding: 5px 15px;
                background-color: #ffffff;
                box-shadow: $shadow;
                margin: 0 10px;
            }
            img{
                width: 35px;
                height: 35px;
            }
            p{
                margin-left: 10px;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}
}