/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $purple;
	border-radius: 3px;
	background: $purple;
	box-shadow: unset;
	color: $white;
	font-family: $font-heading;
	font-size: 1.1rem;
	line-height: 1;
	padding: .6rem 1rem .4rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);



	&:hover {

	}

	&:active,
	&:focus {
		
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	
	width: 100%;
	height: 45px;
}
.wpcf7-validates-as-email{
	padding: 12px 14px;
}

.wpcf7-form-control-wrap {
    position: relative;
	width: 64%;
	@include tb{
		width: 40%;
	}
	@include pc{
		width: 40%;
	}
}



textarea {
	padding-left: 3px;
	width: 100%;
}
