
.site-header{
    width: 90%;
    margin: auto;
    @include box-row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2%;
    align-items: center;
    padding-bottom: 10%;

    @include pcandtb{
        padding-bottom: unset;
    }


    .main-navigation {
        width: unset;
        @include box-row;
        justify-content: flex-end;
        width: 15%;
        @include pcandtb{
            order: 2;
            width: auto;
        }
    }

    // menu classes

   .menu-menu-1-container{

    

        ul{
            @include box-column;
            list-style: none;
            margin: 0%;
            padding: 0%;
            .menu-item{
                a{
                margin: 0 3% ;
                border-radius: 5px;
                height: 73px;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                align-items: center;
                display: flex;
                align-items: center;
                letter-spacing: 0.15px;
                padding: 3%;
                @include pcandtb{
                    @include reset; 
                    box-shadow: unset;
                }
            }
            }
            @include pcandtb{
                @include box-row; 
            }

        }
    }

    .logo-header{
        display: flex;
        width: 59px;
        height: 32px;
        img{
            width: 100%;
        }
        @include pcandtb{
            width: 119px;
            height: 65px;
        }
    }


    button{
        width: 100%;
        @include reset;
        background: none;
        border: none;
        height: auto;
        margin: 0 3%;
        
        @include pcandtb{
            width: 15.9px;   
        }
        img{
            width: 15.9px;
            height: 15.9px;
        }
      
    }
}

.main-manu-content{
    
    display: none;
    width: 100%;
    height: fit-content;

    @include pcandtb{
        display: unset;
        width: 80%;
    }
}




fieldset{
    height: fit-content;
    label{

        height: fit-content;
    }
}


.sub-menu{
    li{
       
        a{
            @include reset;
            padding: unset!important;
            box-shadow: unset!important;
            box-shadow:0px 2px 0px rgba(0, 0, 0, 0.16)!important;
            padding-left: 8%!important;

            @include pcandtb{
                @include reset;
                width: 140px;
                border-radius: 0px !important;
                height: fit-content !important;
                padding: 10%!important;;
            }
           
        }

    }
            @include pcandtb{
                background-color: $white;
                display: flex;
                flex-direction: column!important;
                position: absolute;
                top: 70%;
                width: fit-content;
                border-radius: px;
                box-shadow:0px 0px 3px rgba(0, 0, 0, 0.16)!important;
            }

}

.sub-menu-container{
    @include pcandtb{
        position: relative;
    }
}

.menu-item-has-children{

    .icon-menu{
        display: flex;
        justify-content: space-between;

        @include pcandtb{

            width: fit-content;
        }
        
    }
        .icon-menu::after{
            padding-top: unset;
           font-size: 25px;
           font-weight: 100;
            content: "+";
            color: $purple;
            @include pcandtb{
                transition: 1s all ;
                margin-left: 20%;
                font-size: 1.2rem;
                color: rgb(80, 80, 80);
                content: "<";
                font-weight: 300;
                transform: rotate(270deg);
            } 
    }
}

.close-icon{
    .icon-menu:after{

        content: "-";
        @include pcandtb{
            transition: 1s all;
            content: ">";
            transform: rotate(90deg);
        } 
    }
}







.change-color{
    opacity: 0.5;
}
