.hfeed{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 999999!important;

}
.site-header{
    width: 100%;
    margin: 0px;
    padding: 0% 2.5%;
    @include box-row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0.5%;
    align-items: center;
    background-color: $white;


    a:hover{
            border-bottom: solid;
            color: $purple;
    }
    .logo-header:hover{
        border-bottom: unset;
    }
    .current-menu-item{
        @include pcandtb{
            border-bottom: solid;
        }
    }

    .current-menu-item:hover{

        border-bottom: unset;
    }
    @include pcandtb{
        padding-bottom: unset;
    }


    .main-navigation {
        width: unset;
        @include box-row;
        justify-content: flex-end;
        width: 20%;
        @include pcandtb{
            order: 2;
            width: auto;
        }
    }

    // menu classes

   .menu-menu-1-container{


        ul{
            @include box-column;
            list-style: none;
            margin: 0%;
            padding: 0%;
            align-items: center;
            width: 100%;


        


            .menu-item{
                width: 100%;
                @include pcandtb{
                    width: auto;
                    position: relative;
                    @include tb{
                    width: auto;
                    }
                }
                a{
                margin: 0 3% ;
                width: 100%;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                align-items: center;
                display: flex;
                align-items: center;
                letter-spacing: 0.15px;
                padding: 3%;
                height: 73px;
                @include pcandtb{
                    @include reset; 
                    width: fit-content;
                    box-shadow: unset;
                    height: fit-content;
                }

                    
            }
            }
            @include pcandtb{
                
                @include box-row; 
            }


        }

    }

    .logo-header{
        display: flex;
        width: 59px;
        height: 32px;
        img{
            width: 100%;
        }
        @include pcandtb{
            width: 119px;
            height: 65px;
        }
    }


    button{
        width: 100%;
        @include reset;
        background: none;
        border: none;
        height: auto;
        margin: 0 3%;
        color: $text-color;
        font-size: 24px;
        
        @include pcandtb{
            width: 15.9px;   
        }
        img{
            width: 30px;
            height: 30px;
            padding: 0% 5%;
        }
      
    }
    
}

.main-manu-content{
    
    display: none;
    width: 100%;
    height: fit-content;
    z-index: 999;
    @include pcandtb{
        @include tb{
            display: unset;
            width: 78%;
        }
        
        display: unset;
        width: 80%;

    }

}




fieldset{
    height: fit-content;
    background-color: $white;
    label{

        height: fit-content;
    }
}


.sub-menu{

    li{
       
        a{
            @include reset;
            padding: unset!important;
            box-shadow: unset!important;
            box-shadow:0px 2px 0px rgba(0, 0, 0, 0.16)!important;
            padding-left: 8%!important;
            @include tb{

                width: 140px!important;
            }

            @include pcandtb{
                @include reset;
                width: 140px;
                border-radius: 0px !important;
                height: fit-content !important;
                padding: 10%!important;;
                width: 140px!important;

            }
           
        }

    }
    @include tb{
        position: absolute;
        top: 73%;
        width: 140px!important;
        
    }
            @include pcandtb{
                background-color: $white;
                display: flex;
                flex-direction: column!important;
                position: absolute;
                top: 73%;
                width: 140px!important;
              
                box-shadow:0px 0px 3px rgba(0, 0, 0, 0.16)!important;

            }


}

.sub-menu-container{
    @include pcandtb{
        position: relative!important;
        height: 73px;
        display: flex;
        align-items: center;
        
    }
            @include tb{
                position: relative!important;
                height: 73px;
                display: flex;
                align-items: center;
            }

}

.menu-item-has-children{

    .icon-menu{
        display: flex;
        justify-content: space-between;

        @include pcandtb{

            width: fit-content;

            i{
                margin-left: 10px;
            }
        }
        
    }
        .icon-menu::after{
            padding-top: unset;
           font-size: 25px;
           font-weight: 100;
            content: "+";
            color: $purple;
            @include pcandtb{
                content: unset;
            } 
    }
}

.close-icon{
    i{
        margin-left: 10px;
        transition: all 1s;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);

    }
    .icon-menu:after{
        font-size: 2.5rem;
        content: "-";
        @include pcandtb{
            content: unset;
        } 
    }
}




.search-bar{

    height: fit-content;
    margin-bottom: 10%;
}




.change-color{
    opacity: 0.5;
}


.sticky-button{
    @include reset;
    position: fixed;
  background: none;
  right: 5%;
  bottom: 10%;
  border: none;
  z-index: 999;
 @include pcandtb{
     display: none;
 }
}

#masthead{
    outline: none;
}


.border-hover{
    @include pcandtb{
        border-bottom: solid;
    }
}


