@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin content-wrapper{
	width: 80vw;
    margin-right: auto;
  margin-left: auto;
  @include spandtb{
    width: 90vw;
    margin-right: auto;
  margin-left: auto;
  }
}

$sp: 415px; 
$tb: 768px;
$pc: 980px; 

@mixin sp {
  @media (max-width: $sp) {
    @content;
  }
}

@mixin tb {
  @media (min-width: $sp) and (max-width: $pc) {
    @content;
  }
}

@mixin pc {
  @media (min-width: $pc) {
    @content;
  }
}

@mixin pcandtb{
  @media (min-width: $tb) {
    @content;
  }
}

@mixin reset {
  padding: 0;
  margin: 0;
}
@mixin spandtb{
  @media (max-width: $tb) {
    @content;
  }
}

@mixin box-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@mixin box-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


@mixin color-gradient {
  background-color: #2f41a4;
  background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(122deg, #2f41a4 -58%, #323184 -18%, #4d449c 14%, #915990 46%, #ac5f80 79%, #ac5d5b 113%);

}

