/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


.form-container{
	margin: unset;
	order: 3;
	width: 100%;
}

.search-form{
	height: 44px;
	fieldset{
		border: 0px solid silver;
		height: fit-content;
		align-items: center;

		
		label{

			box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
			width: 100%;
			display: flex;
			flex-direction: row;
			height: fit-content;
			border: solid 1px $purple;
			border-radius: 6px;
			align-items: center;
	
					.icon-search{
						height: 15.9px;
					}
					.search-submit{
						background-color: unset;
						border: unset;
					}	
				
		}



		
		input{
			border-radius: 6px;
			border: none;
			font-size: 15px;
			color: $purple;

			height: 44px;
			width: 85%;
			padding-left: 16px;


			@include pcandtb{
				height: 56px;
				width: 95%;
					
			}


		}
	}
}

.mega-indicator{
	color: $purple !important;

	
	@include pcandtb{
		color: unset !important;


			
	}
}





.contact-aj{
	display: none;

}

