.search-page{
    width: 90%;
    margin: auto auto;
    padding-top: 5%;

    h1{
        margin: 5% 0% ;
    }

    .category-search{
        color: #AC5F80;
        font-style: italic;
        line-height: 1.18;
        letter-spacing: normal;
        text-align: left;
    }

    .total-results{
        margin-bottom: 3%;
    }

    p{
        font-size: 17px;
    }
}