// Structure

$base__space-unit: 1.5rem;

// Colors

$text-color: #3F3F3F;
$purple: #323184;
$pink: #AC5F80;
$white: #fff;
$red: #AC5F80;


// Typography
$font-main: 'Meticula',sans-serif;
$font-heading: 'Mazzard H',sans-serif;
$heading-size--pc: 55px;
$heading-size--sp: 30px;
$title-size--pc: 30px;
$title-size--sp: 22px;
$subtitle-size--pc: 20px;
$subtitle-size--sp: 17px;
$text-size--pc: 16px;
$text-size--sp: 15px;




// Default 
$color__background-body: #fff;
$color__text-main: #404040;
$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;